/* 글자들로 화면을 꽉 채우기 위하여 모든 여백 제거 */
.container{
    margin: 0;
    padding: 0;
}
.row{
    /* row안에 있는 것들을 수평정렬하기(부모 : hidden 자식 : left */
    overflow: hidden;
    width: 100%;
}
.row [class*=span]{
    float: left;
    margin-left: 2%;    
}
.row [class*=span]:first-child{
    margin-left: 0;
}

.span_1{width: 6.5%;}
.span_2{width: 15%;}
.span_3{width: 23.5%;}
.span_4{width: 32%;}
.span_5{width: 40.5%;}
.span_6{width: 49%;}
.span_7{width: 57.5%;}
.span_8{width: 66%;}
.span_9{width: 74.5%;}
.span_10{width: 83%;}
.span_11{width: 91.5%;}
.span_12{width: 100%;}