body{
    margin: 0;
    padding: 0;
}

div.container{
    background-image: url(../20200924/photo.jpg);
    background-size: 100% 100%; /*width height 가 500px 이므로 거기에 맞춘 크기*/
    background-repeat: no-repeat;
    margin-top: 50%;
    margin-bottom: 50%;
    width: 500px;
    height: 500px;
    overflow: hidden;
}